Q1  How can we store a s1ngle quote (‘) as a str1ng 1n a var1able?

In [1]:
single_quote_string = '‘'  # Using single quotes
print(single_quote_string)

# Or

single_quote_string = "‘"  # Using double quotes
print(single_quote_string)

‘
‘

Q2 Refer the below var1able:
x = ‘a'
Here, 1s x a character type or string type variable? Support your answer with an explanation.

In [2]:
"""Therefore, x is considered a string type variable in Python."""

'Therefore, x is considered a string type variable in Python.'

Q3 Apply the following funct1ons on this variable: ‘Welcome to Python  to foundation course'
find()
count()
len()
 Concatenation()
Note: You can use your cho1ce of parameters.
 But make sure it is  correct.

In [3]:
string = 'Welcome to Python to foundation course'
print(string.find('to'))  # Output: 8


string = 'Welcome to Python to foundation course'
print(string.count('to'))  # Output: 2


string = 'Welcome to Python to foundation course'
print(len(string))  # Output: 38


string = 'Welcome to Python to foundation course'
another_string = ' - Advanced'
concatenated_string = string + another_string
print(concatenated_string)

8
2
38
Welcome to Python to foundation course - Advanced

Q4Q For the var1able: wor = ‘PanaJ1@T//56(
Calculate the follow1ng:
(a) Total number of alphabets 1n lowercase
(b) Total number of alphabets 1n uppercase
(c) Total number of numer1cal 1n str1ng

In [4]:
word = 'PanaJi@12256'

# Initialize counts
lowercase_count = 0
uppercase_count = 0
numeric_count = 0

# Iterate through each character in the string
for char in word:
    if char.islower():
        lowercase_count += 1
    elif char.isupper():
        uppercase_count += 1
    elif char.isnumeric():
        numeric_count += 1

# Display the counts
print("(a) Total number of lowercase alphabets:", lowercase_count)
print("(b) Total number of uppercase alphabets:", uppercase_count)
print("(c) Total number of numerical characters:", numeric_count)

(a) Total number of lowercase alphabets: 4
(b) Total number of uppercase alphabets: 2
(c) Total number of numerical characters: 5

Q5 Write a code to store a numerical value inside a variable then convert it into string.

In [5]:
# Store a numerical value in a variable
numerical_value = 12345

# Convert the numerical value to a string
numerical_string = str(numerical_value)

# Print the result
print("Numerical value as string:", numerical_string)

Numerical value as string: 12345